

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {

    --radius: 0.5rem
  }
}

/* Apply to the entire document */
html {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f4f4f400; /* Thumb and track colors */
}

/* Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}
